{% comment %}
  Separate partial for Google Webfont include, so we can override with
  different fonts as applicable.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">