<nav id="sidebar-icon-links">
    <a id="github-link"
       class="icon" title="Github" aria-label="Github Project"
       href="https://github.com/siu-sing/">
      {% include svg/github.svg %}
    </a>

  <a id="instagram-link"
     class="icon" title="@siu_sing" aria-label="" style="margin-top:4px"
     href="https://www.instagram.com/siu_sing/">
    {% include svg/instagram.svg %}
  </a>

<a id="linkedin-link"
class="icon" title="siusing" aria-label="" 
href="https://www.linkedin.com/in/siusing/">
{% include svg/linkedin.svg %}
</a>

  <a id="tags-link"
      class="icon{% if page.url == '/tags' %} active{% endif %}"
      title="Tags" aria-label="Tags"
      href="{{ tags_page.url | relative_url }}">
    {% include svg/tags.svg %}
  </a>

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
